{% load static %}
<link rel="stylesheet" href="{% static 'blog/login.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form action="#" method="post">
        <input type="text" name="username" placeholder="Nome de usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <input type="submit" value="Entrar">
    </form>
</div>

</body>
</html>
