/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilo do menu */
.menu {
    background-color: #f4f4f4;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #555;
}

/* Estilo do conteúdo */
.content {
    padding: 20px;
}

/* Estilo do rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

a.button {
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #E0E0E0; /* Cor de fundo */
    color: #000000; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado padrão */
    border: 2px solid #000000; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s, color 0.3s; /* Transições suaves */
}

a.button:hover {
    background-color: #BEBEBE; /* Cor de fundo mais escura ao passar o mouse */
    color: #000000; /* Cor do texto alterada */
}